<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/layout.css">
    </head>
    <body>
    <header>
        <div class="navbar">
            <a href="/">Ana Sayfa</a>
            <div class="search-container">
                <form action="/Home/SearchResult" method="get">
                    <input type="text" placeholder="Anahtar kelimeleri girin..." name="search">
                    <button type="submit">Ara</button>
                </form>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>&copy; 2024 Web Scraping Akademi</p>
    </footer>
</body>
</html>
